
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
    background: red;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}
  
ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}