<!DOCTYPE html>  
{% extends "layout.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% block content %}
<br>
<form action="/result" method="GET">
Hae aiheista: <input type="text" name="query">
<input type="submit" value="Hae">
</form>
<br>
{% if session.user_id %}
<br>
<form action="/subject" method="post">
Lisää uusi aihe: <br>
<textarea name="subject" rows="1" cols="20"></textarea>
<input type="submit" value="Lisää aihe">
</form>
<br>
{% endif %}
<p>{{ error_message }}</p>
<h3>Aiheet</h3>
<p>Aiheiden määrä: {{ subject_count }}</p>
<ul>
{% for subject in subjects %}
<li><a href="/subject/{{subject[0]}}"> {{ subject[1] }}</a>
    <p>Viestiketjujen määrä: {{ subject.thread_count }}</p></li>

{% if session.user_id %}
<br>
<!-- <a href="/delete/{{subject[0]}}"> Poista aihe</a> -->
{% endif %}
<hr>
{% endfor %}
</ul>
{% endblock %}
