<!DOCTYPE html>  
{% extends "layout.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% block content %}
<h3>Aiheet</h3>
<br>
{% if session.user_id %}
<br>
<form action="/subject" method="post">
Lisää uusi aihe: <br>
<textarea name="subject" rows="1" cols="20"></textarea>
<input type="submit" value="Lisää aihe">
</form>
<br>
{% endif %}
<p>{{ error_message }}</p>
<ul>
{% for subject in subjects %}
<li><a href="/subject/{{subject[0]}}"> {{ subject[1] }}</a></li>
{% if session.user_id %}
<br>
<a href="/delete/{{subject[0]}}"> Poista aihe</a>
<br>
{% endif %}
<hr>
{% endfor %}
</ul>
{% endblock %}
