<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>Keskustelusovellus - {% block title %}{% endblock %}</title>
<body>    
    <div class="header">
        <h1>Keskustelusovellus</h1>
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <a href="/">Etusivu</a>
    {% if session.user_id %}
    <br>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <br>
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</body>