<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Aiheet - Viestit{% endblock %}
{% block content %}
<h3>{{ title }}</h3>
<hr>
{% for message in messages %}
<p>{{ message.content }}</p>
<p>Lähetetty: {{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
{% if session.user_id == message.user_id %}
<a href="/deletemessage/{{ subject_id }}/{{ thread_id }}/{{ message.id }}"> Poista viesti</a>
{% endif %}
<hr>
{% endfor %}
{% if session.user_id %}
<form action="/subject/{{ subject_id }}/{{ thread_id }}" method="post">
Lisää uusi viesti: <br>
<textarea name="content" rows="3" cols="60"></textarea>
<br>
<input type="submit" value="Lisää viesti">
</form>
{% endif %}
<p>{{ error_message }}</p>
<br>
<a href="/subject/{{ subject_id }}">Takaisin</a>
{% endblock %}