<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Aiheet{% endblock %}
{% block content %}
<form action="/result/{{ subject_id }}" method="GET">
    Hae viestiketjuista: <input type="text" name="query">
    <input type="submit" value="Hae">
</form>
<br>
<br>
{% if session.user_id %}
<a href="/subject/{{ subject_id }}/newthread">Lisää uusi viestiketju</a> 
{% else %}
<p>Kirjaudu sisään lisätäksesi viestiketju!</p>
{% endif %}
<br>
<h4>Aiheeseen "{{ subject }}" liittyvät viestiketjut:</h4>
<br>
<p>{{ text }}</p>
<ul>
    {% for thread in threads %}
    <br>
    <li><a href="/subject/{{ subject_id }}/{{ thread.id }}">{{ thread.title }}</a>
    <p>Viestien määrä viestiketjussa: {{ thread.message_count }}</p></li>
    <br>
    {% if session.user_id == thread.user_id %}
    <li><a href="/delete/{{ thread.subject_id }}/{{ thread.id }}"> Poista viestiketju</a>  
     <a href="/update/{{ thread.subject_id }}/{{ thread.id }}"> Muokkaa</a></li>
    {% endif %}
    {% endfor %}
</ul>
<p>{{ error_message }}</p>
<br>
<a href="/">Takaisin aiheisiin</a>
{% endblock %}


