<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Aiheet - Muokkaa{% endblock %}
{% block content %}
<form action="/update/{{ subject_id }}/{{ thread_id }}" method="post">
Muokkaa lisäämääsi viestiketjua: <br>
<textarea name="content" rows="4" cols="80">{{ thread_content }}</textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<p>{{ error_message }}</p>
<a href="/subject/{{ subject_id }}"> Takaisin</a>
{% endblock %}